<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.AuthDao">
    <resultMap id="AuthResult" type="com.example.servicehi.entity.Auth">
        <result column="UUID" property="uuid"/>
        <result column="METHOD" property="method"/>
        <result column="CLASS_NAME" property="className"/>
        <result column="TYPE" property="type"/>
        <result column="URL" property="url"/>
    </resultMap>

    <insert id="insert" parameterType="Auth">
      insert into AUTH(uuid, method, class_name, type, url)
      values
      (#{uuid},#{method},#{className},#{type},#{url})
    </insert>

    <select id="selectAll" resultMap="AuthResult">
        select * from AUTH
    </select>

    <select id="selectByUrl" resultMap="AuthResult" parameterType="Auth">
        select * from AUTH where URL = #{url}
    </select>

    <delete id="delete" parameterType="Auth">
        delete from AUTH where URL = #{url} and METHOD = #{method} and CLASS_NAME = #{className}
        <if test="type!=null and type!=''">
            and TYPE = #{type}
        </if>
    </delete>
</mapper>