<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.JokeDao">
    <resultMap id="JokeResult" type="com.example.servicehi.entity.Joke">
        <result column="UUID" property="uuid"/>
        <result column="TITLE" property="title"/>
        <result column="JOKE" property="joke"/>
        <result column="FROM" property="from"/>
        <result column="REMARK" property="remark"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <insert id="insert" parameterType="Joker">
        insert into JOKE (UUID, TITLE, JOKE, `FROM`, REMARK, IS_DEL, STATUS, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values
        (#{uuid},#{title},#{joke},#{from},#{remark},#{isDel},#{status},#{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate})
    </insert>

    <select id="selectByTitle" parameterType="Joker" resultMap="JokeResult">
        select * from JOKE where TITLE = #{title}
    </select>

    <select id="selectJokeList" parameterType="Joker" resultMap="JokeResult">
        select * from JOKE order by CREATE_DATE desc
    </select>
</mapper>