<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.MenuDao">
    <resultMap id="MenuResult" type="com.example.servicehi.entity.Menu">
        <result column="UUID" property="uuid"/>
        <result column="MENU_NAME" property="menuName"/>
        <result column="MENU_PATH" property="menuPath"/>
        <result column="PARENT_MENU_UUID" property="parentMenuUuid"/>
        <result column="INDEX" property="index"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <resultMap id="TreeMap" type="Menu" extends="MenuResult">
        <collection property="nextMenuList" column="parentMenuUuid=UUID"
                    ofType="Menu"
                    select="com.example.servicehi.dao.MenuDao.selectMenu"/>
    </resultMap>
    
    <select id="selectMenu" parameterType="Menu" resultMap="TreeMap">
        select * from MENU where
        <choose>
          <when test="parentMenuUuid!=null and parentMenuUuid!=''">
              PARENT_MENU_UUID = #{parentMenuUuid}
          </when>
          <otherwise>
              PARENT_MENU_UUID is null
          </otherwise>
        </choose>
        order by `INDEX` asc
    </select>

    <insert id="insert" parameterType="Menu">
        insert into MENU
        (UUID, MENU_NAME, MENU_PATH, PARENT_MENU_UUID, INDEX, DEFAULT_CHECK, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values
        (#{uuid},#{menuName},#{menuPath},#{parentMenuUuid},#{index},#{isDel},#{status},#{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate});
    </insert>
</mapper>