<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.ShareTicketUrlDao">
    <resultMap id="ShareTicketUrlResult" type="com.example.servicehi.entity.ShareTicketUrl">
        <result column="UUID" property="uuid"/>
        <result column="URL" property="url"/>
        <result column="TITLE" property="title"/>
        <result column="REMARK" property="remark"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <insert id="insert" parameterType="ShareTicketUrl">
        insert into SHARE_TICKET_URL (UUID, URL, TITLE, REMARK, IS_DEL, STATUS, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values (#{uuid},#{url},#{title},#{remark},#{isDel},#{status},#{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate})
    </insert>

    <resultMap id="ShareTicketUrlDtoResult" type="ShareTicketUrlDto" extends="ShareTicketUrlResult">
        <result column="TIPS_NAME" property="tipsName"/>
        <collection property="tipsRelations" column="{tipsName=TIPS_NAME,otherUUID=UUID}"
                    ofType="TipsRelation" select="com.example.servicehi.dao.TipsRelationDao.selectByNameAndOtherUUID"/>
    </resultMap>
    
    <select id="selectTitleAndTipsName" parameterType="ShareTicketUrlDto" resultMap="ShareTicketUrlResult">
        SELECT
            a.UUID as UUID,
            a.TITLE as TITLE,
            (SELECT #{tipsName}) as TIPS_NAME
        FROM
            SHARE_TICKET_URL a
        INNER JOIN TIPS_RELATION b ON a.UUID = b.OTHER_UUID
        WHERE a.IS_DEL = '0'
        and b.IS_DEL = '0'
        and b.TIPS_NAME = #{tipsName}
        GROUP BY
            a.URL
    </select>
</mapper>