<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.ShareTicketUrlDao">
    <resultMap id="ShareTicketUrlResult" type="com.example.servicehi.entity.ShareTicketUrl">
        <result column="ID" property="id"/>
        <result column="UUID" property="uuid"/>
        <result column="URL" property="url"/>
        <result column="TITLE" property="title"/>
        <result column="REMARK" property="remark"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <insert id="insert" parameterType="ShareTicketUrl">
        insert into SHARE_TICKET_URL (UUID, URL, TITLE, REMARK, IS_DEL, STATUS, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values (#{uuid},#{url},#{title},#{remark},#{isDel},#{status},#{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate})
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into SHARE_TICKET_URL (UUID, URL, TITLE, REMARK, IS_DEL, STATUS, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values
        <foreach collection="list" item="item" index= "index" separator ="," open="(" close=")">
            #{item.uuid},#{item.url},#{item.title},#{item.remark},#{item.isDel},#{item.status},#{item.createUserUUID},
            #{item.createDate},#{item.modiUserUUID},#{item.modiDate}
        </foreach>
    </insert>

    <resultMap id="ShareTicketUrlDtoResult" type="ShareTicketUrlDto" extends="ShareTicketUrlResult">
        <result column="TIPS_NAME" property="tipsName"/>
        <collection property="tipsRelations" column="{tipsName=TIPS_NAME,otherUUID=UUID}"
                    ofType="TipsRelation" select="com.example.servicehi.dao.TipsRelationDao.selectByNameAndOtherUUID"/>
    </resultMap>
    
    <select id="selectTitleAndTipsName" parameterType="ShareTicketUrlDto" resultMap="ShareTicketUrlDtoResult">
        SELECT
            a.UUID as UUID,
            a.TITLE as TITLE,
            a.URL as URL,
            #{tipsName} as TIPS_NAME
        FROM
            SHARE_TICKET_URL a
        INNER JOIN TIPS_RELATION b ON a.UUID = b.OTHER_UUID
        WHERE a.IS_DEL = '0'
        AND b.IS_DEL = '0'
        AND b.TIPS_NAME = #{tipsName}
        <if test="title!=null and title!=''">
            AND TITLE = #{title}
        </if>
        GROUP BY
            a.URL
    </select>

    <select id="selectRepeatUrl" parameterType="ShareTicketUrl" resultMap="ShareTicketUrlResult">
        select * from SHARE_TICKET_URL where URL = #{url}
    </select>

    <select id="selectRepeatUrlList" parameterType="java.util.List" resultMap="ShareTicketUrlResult">
        select * from SHARE_TICKET_URL where URL in
        <foreach collection="list" item="item" index= "index" separator ="," open="(" close=")">
            #{item.url}
        </foreach>
    </select>

    <update id="updateListStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" index= "index" separator ="," open="(" close=")">
            update SHARE_TICKET_URL set STATUS = #{item.status} where ID = #{id} and UUID = #{uuid}
        </foreach>
    </update>
</mapper>