<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.ShareTicketImgDao">
    <resultMap id="ShareTicketImgResult" type="com.example.servicehi.entity.ShareTicketImg">
        <result column="ID" property="id"/>
        <result column="UUID" property="uuid"/>
        <result column="QR_CODE" property="QRCode"/>
        <result column="UPLOAD_IMG_UUID" property="uploadImgUUID"/>
        <result column="CUT_UPLOAD_IMG_UUID" property="cutUploadImgUUID"/>
        <result column="BEFORE_MONEY" property="beforeMoney"/>
        <result column="AFTER_MONEY" property="afterMoney"/>
        <result column="TAOBAO_CODE" property="taobaoCode"/>
        <result column="TITLE" property="title"/>
        <result column="COPY_TIMES" property="copyTimes"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <insert id="insert" parameterType="ShareTicketImg">
        insert into SHARE_TICKET_IMG (UUID, QR_CODE, UPLOAD_IMG_UUID, CUT_UPLOAD_IMG_UUID, BEFORE_MONEY, AFTER_MONEY, TAOBAO_CODE, TITLE,
          CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values (#{uuid},#{QRCode},#{uploadImgUUID},#{cutUploadImgUUID},#{beforeMoney},#{afterMoney},#{taobaoCode},#{title},
          #{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate});
    </insert>

    <resultMap id="ShareTicketImgRelationResult" type="ShareTicketImgDto" extends="ShareTicketImgResult">
        <result column="TIPS_NAME" property="tipsName"/>
        <collection property="tipsRelations" column="{tipsName=TIPS_NAME,otherUUID=UUID}"
                    ofType="TipsRelation" select="com.example.servicehi.dao.TipsRelationDao.selectByNameAndOtherUUID"/>
    </resultMap>

    <select id="selectTitleAndTips" parameterType="ShareTicketImgDto" resultType="ShareTicketImgDto">
        SELECT
            a.UUID as UUID,
            a.QR_CODE as QR_CODE,
            a.TAOBAO_CODE as TAOBAO_CODE,
            a.TITLE as TITLE,
            a.BEFORE_MONEY as BEFORE_MONEY,
            a.UPLOAD_IMG_UUID as UPLOAD_IMG_UUID,
            a.CUT_UPLOAD_IMG_UUID as CUT_UPLOAD_IMG_UUID,
            a.AFTER_MONEY as AFTER_MONEY,
            a.COPY_TIMES as COPY_TIMES,
            #{tipsName} as TIPS_NAME
        FROM
            SHARE_TICKET_IMG a
        INNER JOIN TIPS_RELATION b ON a.UUID = b.OTHER_UUID
            WHERE a.IS_DEL = '0'
            AND a.STATUS = '0'
            AND b.STATUS = '0'
            AND b.IS_DEL = '0'
            AND (b.TIPS_NAME like CONCAT('%',#{tipsName},'%') OR a.TITLE like CONCAT('%',#{title},'%'))
        GROUP BY
            a.TITLE
    </select>

    <resultMap id="ShareTicketImgAndUrl" type="ShareTicketImgDto" extends="ShareTicketImgResult">
        <collection property="uploadImg" column="{uuid=UPLOAD_IMG_UUID}"
                    ofType="UploadImg" select="com.example.servicehi.dao.UploadImgDao.selectByUUID"/>
        <collection property="cutUploadImg" column="{uuid=CUT_UPLOAD_IMG_UUID}"
                    ofType="UploadImg" select="com.example.servicehi.dao.UploadImgDao.selectByUUID"/>
    </resultMap>

    <select id="selectTicket" parameterType="ShareTicketImgDto" resultMap="ShareTicketImgAndUrl">
        select * from SHARE_TICKET_IMG where IS_DEL = '0' and STATUS = '0'
        <if test="title!=null and title!=''">
            and TITLE like CONCAT ('%',#{title},'%')
        </if>
        order by CREATE_DATE desc
    </select>

    <update id="ticketInvalid" parameterType="ShareTicketImg">
        update SHARE_TICKET_IMG set STATUS = '1', MODI_DATE = #{modiDate} where STATUS = '0' and UUID = #{uuid} and ID = #{id}
    </update>

    <update id="updateCopyTimes" parameterType="ShareTicketImg">
        update SHARE_TICKET_IMG set COPY_TIMES = COPY_TIMES + 1, MODI_DATE = #{modiDate} where STATUS = '0' and UUID = #{uuid} and ID = #{id}
        and COPY_TIMES = #{copyTimes}
    </update>
</mapper>