<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.TipsRelationDao">
    <resultMap id="TipsResult" type="com.example.servicehi.entity.TipsRelation">
        <result column="ID" property="id"/>
        <result column="UUID" property="uuid"/>
        <result column="TIPS_UUID" property="tipsUUID"/>
        <result column="TIPS_NAME" property="tipsName"/>
        <result column="OTHER_UUID" property="otherUUID"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <insert id="insert" parameterType="Tips">
        insert into TIPS_RELATION (UUID, TIPS_UUID, TIPS_NAME, OTHER_UUID, IS_DEL, STATUS, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values (#{uuid},#{tipsUUID},#{tipsName},#{otherUUID},#{isDel},#{status},#{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate});
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into TIPS_RELATION (UUID, TIPS_UUID, TIPS_NAME, OTHER_UUID, STATUS, CREATE_USER_UUID, CREATE_DATE,
        MODI_USER_UUID, MODI_DATE)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.uuid},#{item.tipsUUID},#{item.tipsName},#{item.otherUUID},#{item.status},#{item.createUserUUID},#{item.createDate},#{item.modiUserUUID},#{item.modiDate})
        </foreach>
    </insert>

    <update id="deleteByList" parameterType="DiaryDto">
        update TIPS_RELATION set IS_DEL = '1'
        where OTHER_UUID = #{uuid}
        <if test="tipsRelations != null">
            and TIPS_UUID in (
            <foreach collection="tipsRelations" item="item" index="index" separator=",">
                #{item.tipsUUID}
            </foreach>
            )
        </if>
    </update>

    <select id="selectByOtherUUID" parameterType="TipsRelation" resultMap="TipsResult">
        select * from TIPS_RELATION where OTHER_UUID = #{otherUUID} and IS_DEL = '0'
    </select>

    <select id="selectByNameAndOtherUUID" parameterType="TipsRelation" resultMap="TipsResult">
        select * from TIPS_RELATION where TIPS_NAME like CONCAT('%',#{tipsName},'%') and OTHER_UUID = #{otherUUID}
    </select>
</mapper>