<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.servicehi.dao.UploadImgDao">
    <resultMap id="UploadImgResult" type="com.example.servicehi.entity.UploadImg">
        <result column="ID" property="id"/>
        <result column="UUID" property="uuid"/>
        <result column="ORIGINAL_NAME" property="originalName"/>
        <result column="RANDOM_NAME" property="randomName"/>
        <result column="RESPONSE_URL" property="responseUrl"/>
        <result column="TITLE" property="title"/>
        <result column="IMAGE_PATH" property="imagePath"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_UUID" property="createUserUUID"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODI_USER_UUID" property="modiUserUUID"/>
        <result column="MODI_DATE" property="modiDate"/>
    </resultMap>

    <insert id="insert" parameterType="UploadImg">
        insert into UPLOAD_IMG (UUID, ORIGINAL_NAME, RANDOM_NAME, RESPONSE_URL, TITLE, IMAGE_PATH, IS_DEL, STATUS, CREATE_USER_UUID, CREATE_DATE, MODI_USER_UUID, MODI_DATE)
        values (#{uuid},#{originalName},#{randomName},#{responseUrl},#{title},#{imagePath},#{isDel},#{status},#{createUserUUID},#{createDate},#{modiUserUUID},#{modiDate})
    </insert>

    <select id="selectImageInfoByOriginalName" parameterType="UploadImg" resultMap="UploadImgResult">
        select * from UPLOAD_IMG where ORIGINAL_NAME = #{originalName}
    </select>

    <select id="selectByUUID" parameterType="UploadImg" resultMap="UploadImgResult">
        select * from UPLOAD_IMG where UUID = #{uuid}
    </select>

    <update id="updateTitle" parameterType="UploadImg">
        update UPLOAD_IMG set TITLE = #{title} where UUID = #{uuid}
    </update>

    <select id="selectPictureWall" parameterType="UploadImg" resultMap="UploadImgResult">
        select * from UPLOAD_IMG where IS_DEL = '0'
    </select>
</mapper>